@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>What is EverReader?</h3>
<p>
    EverReader is a web application designed to make reading very long notes that you have stored in <a href="http://www.evernote.com">Evernote</a> quick and easy:
    <ul>
        <li>It automatically remembers your position so you can come back later and pick up where you left off.</li>
        <li>You can view a list of recently read notes</li>
        <li>You can also create custom bookmarks to make navigating even easier.</li>
    </ul>
</p>

<p>
    These bookmaks are stored in the EverReader app, which means that your note content is not interferred with in any way.
</p>

<h3>Open source</h3>

<p>
    EverReader is developed by <a href="http://www.simonkittle.com">Simon Kittle</a>.
</p>
<p>
    It is open source, with all the code <a href="https://github.com/ksk100/EverReader">stored on Github</a>.
</p>

<h3>Other</h3>

<p>
    The version of EverReader accessible at <a href="http://everreader.azurewebsites.net">http://everreader.azurewebsites.net</a> is currently provided as a free service.
</p>
<p>
    Please note that by using EverReader you are agreeing to our Terms and Conditions.
</p>
