@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>What is EverReader?</h3>

<p>
    EverReader is a web application designed to make reading very long notes quick and easy.
    It automatically remembers your position so you can come back later and pick up where you left off.
    You can also create custom bookmarks to make navigating even easier.
</p>

<p>
    These bookmaks are stored in the EverReader app, which means that your note content is not interferred with in any way.
</p>

<p>
    Please note that by using EverReader you are agreeing to our Terms and Conditions.
</p>
