@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<p>If you have <strong>feature requests</strong> or <strong>bug reports</strong>, please use Github's Issues feature to report them: <a href="https://github.com/ksk100/EverReader/issues">EverReader issues on Github</a>.</p>

<p>
    If you have any general questions about EverReader, please feel free to email Simon Kittle:
    <img src="~/images/email-simon-kittle.png" alt="Simon Kittle's email" style="padding-bottom: 2px" />
</p>

