@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        @*<li data-target="#myCarousel" data-slide-to="3"></li>*@
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/everreader-banners-02.png" alt="Read long-form content" class="img-responsive" />
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        Read your long-form Evernote content
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/images/everreader-banners-03.png" alt="Autosaves your reading position" class="img-responsive" />
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        Automatically saves reading position
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/images/everreader-banners-01.png" alt="Package Management" class="img-responsive" />
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        Create custom bookmarks for each document
                    </p>
                </div>
            </div>
        </div>
        @*<div class="item">
            <img src="~/images/Banner-01-Azure.png" alt="Microsoft Azure" class="img-responsive" />
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                        <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        </div>*@
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <ul>
            <li>Read long content in Evernote</li>
            <li>Pick up where you left off</li>
            <li>Create bookmarks to mark places (coming very soon!)</li>
            <li>Leaves your notes untouched</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Screenshot tour</h2>
        <p>
            <a class="fancybox" rel="group" href="~/images/screenshot-00.png" caption="The Find Notes screen"><img src="~/images/screenshot-00-small.png" /></a>
            <div class="hidden">
                <a class="fancybox" rel="group" href="~/images/screenshot-01.png" caption="Reading an article: Wood - What ISIS Really Want (The Atlantic)"><img src="~/images/screenshot-00-small.png" /></a>
                <a class="fancybox" rel="group" href="~/images/screenshot-02.png" caption="The Recently Read screen"><img src="~/images/screenshot-00-small.png" /></a>
            </div>
        </p>
        <p>Click the screenshot for a tour.</p>
    </div>
    <div class="col-md-4">
        <h2>Get started</h2>
        <p>EverReader is currently in Private Beta.</p>
        <p>If you've received an invitation, then:</p>
        <ol>
            <li><a asp-controller="Account" asp-action="Register">Register and login</a></li>
            <li><a asp-controller="Manage" asp-action="AuthoriseEvernote">Authorise Evernote</a></li>
            <li><a asp-controller="Reader" asp-action="Index">Find notes to read</a></li>
        </ol>
    </div>
    <div class="col-md-3">

    </div>
</div>

@section scripts {

<script src="~/lib/fancybox/source/jquery.fancybox.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
	    $(".fancybox").fancybox({
	        beforeLoad: function () {
	            this.title = $(this.element).attr('caption');
	        }
	    });
	});
</script>
}