@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>
    This web site (“Website”) is operated by EverReader. We respect your privacy, and believe it is important for you to know how we treat the information we receive about you on the internet.
</p>
<p>
    This Privacy Policy should be read, understood and agreed to in accordance with our Terms and Conditions.
</p>
    <h4>Changes to this Policy</h4>

<p>
    In order to improve this service and to provide additional services, this policy may change from time to time. EverReader reserves the right to change this policy at any time simply by posting changes online. You are responsible for reviewing regularly information posted online to obtain timely notice of such changes. Your continued use of this site after changes are posted constitutes your acceptance of the policyas modified by the posted changes.
</p>
    <h4>Web Site Usage Information</h4>

<p>
    We automatically collect IP addresses and Website usage information from you when you visit EverReader. This information helps us evaluate how our visitors and subscribers use and navigate our Website, including the number and frequency of visitors and subscribers to each Web page, the pages from which they naviagted to the Website and the length of their visits.
</p>
    <h4>Cookies</h4>

<p>
    EverReader stores cookies in your web browser in order to remember your preferences and to remember that you have logged in to a page.  Cookies are essential to the operation of EverReader, and certain areas of the Website will not function properly without cookies.
</p>
    <h4>How We Use Information Collected</h4>

<p>
    We may use your information to enable us to verify subscriptions; to provide advertisers and other third parties with information about our user base and usage patterns; to allow us to personalize the content and advertising that you and others see based on personal characteristics, preferences or usage.
</p>
<p>
    We will not disclose your account information to other people or non-affiliated companies, except in the circumstances described in this Privacy Policy or with your consent.
</p>
<p>
    We may hire other companies to perform services on our behalf. These other companies may be supplied with or have access to your personally identifiable information solely for the purpose of providing these services to us or on our behalf.
</p>
<p>
    We may disclose and use personally identifiable information in special circumstances where it is necessary to enforce our Terms and Conditions. We may also disclose or use your personal information when we, in good faith, believe that the law requires us to do so.
</p>
<p>
    Your information may be stored and processed in the United Kingdom, United States or any other country where EverReader or its affiliated companies have facilities.
</p>
<p>
    We reserve the right to transfer your personal information in the event of a transfer of ownership of EverReader. In such an event, your information will be transferred and may become subject to a different privacy policy.
</p>
<p>
    We may send you a newsletter by email, but you may unsubscribe at any time.
</p>
    <h4>Security</h4>

<p>
    The personally identifiable information we collect about you is stored in limited-access servers. We will maintain safeguards to protect the security of these servers and your personally identifiable information. However, as effective as these measures are, no security system is impenetrable. We cannot guarantee that the information you supply will not be intercepted while being transmitted to us over the Internet.
</p>

    <h4>Third party advertising and content</h4>

<p>
    EverReader contains links to websites that are not operated by EverReader.  EverReader makes no representations about the privacy practices of these third party sites. Be aware that during your visit to our site you may link to or view certain content that is actually created or hosted by a third party.
</p>

<p>
    Users should check the applicable privacy policies of those third parties when providing personally identifiable information.  When you click a link to, or access content from a third party web site, your internet browser software may disclose the web site page address which contained the link. You may wish to install privacy software on your machine to prevent your web browser from doing this.
</p>

<p>
    In addition, any advertisements appearing on the Website may be delivered to you by various third parties. These third parties may or may not use cookies, which may be used to gather information about you, or simply to track user activity. We do not have access to or control these cookies. Users should check the applicable privacy policies of these third parties when providing personally identifiable information.
</p>

    <h4>Children</h4>

<p>EverReader does not knowingly collect or solicit personally identifiable information from or about children under 18. If we discover that we have received any information from a child under 18 in violation of this policy, we will delete that information immediately. If you believe EverReader has any information about anyone under 18, please contact us.</p>
