@model EvernoteCallbackViewModel
@{
    ViewData["Title"] = "Evernote authorisation results";
}

<h2>Evernote Authorisation Results</h2>

<div>
    @Model.ErrorMessage
    @Model.SuccessMessage
</div>
