@{
    ViewBag.Title = "Evernote authorisation required";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <section>
            <h4>To search for and read notes you must first <a asp-action="Index" asp-controller="Manage">authorise Evernote</a>.</h4>
        </section>
    </div>
</div>