@{
    ViewBag.Title = "Note not found";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <section>
            <h4>The requested note could not be found</h4>
            <h5>Perhaps you've deleted it since starting to read it?</h5>
            <h5>Head back to the <a asp-action="Index" asp-controller="Reader">search form</a> to look for something different.</h5>
        </section>
    </div>
</div>