@model EverReader.ViewModels.Reader.ReaderViewModel

@{
    ViewBag.Title = "Reader: " + Model.Title;
}

<h2>@ViewData["Title"].</h2>

<div class="row">
    <div class="col-md-12">
        @Html.Raw(@Model.Content)
    </div>
</div>

<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div id="positionReport" class="navbar-header navbar-brand"></div>
    </div>
</div>

@section scripts {
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/js/reader.js"></script>
}
