@{
    ViewBag.Title = "Unknown resource type";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <section>
            <h4>The requested resource is of an unknown type</h4>
            <h5></h5>
            <h5>Head back to the <a asp-action="Index" asp-controller="Reader">search form</a> or to your <a asp-action="RecentlyRead" asp-controller="Reader">recently read notes</a>.</h5>
        </section>
    </div>
</div>